---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <section
    class="flex flex-col justify-center items-center bg-base-200 px-4 py-30 min-h-screen"
  >
    <div class="bg-base-100 shadow-lg rounded-lg w-full max-w-3xl py-20 p-8 space-y-6 text-center">
      <h2 class="text-3xl font-bold text-base-content">¡Ponte en contacto!</h2>
      <p class="text-base text-base-content/70">
        Estoy disponible para colaborar en nuevos proyectos o simplemente
        charlar sobre ideas creativas. Escríbeme un mensaje o sígueme en redes
        sociales.
      </p>

      <!-- Información de contacto -->
      <div class="space-y-8 text-base-content">
        <p>
          <span class="font-semibold">Correo:</span>
          <a
            href="mailto:correo@example.com"
            class="link link-hover text-primary"
          >
            correo@example.com</a
          >
        </p>
        <p>
          <span class="font-semibold">WhatsApp:</span>
          <a
            href="https://wa.me/573001112222"
            class="link link-hover text-primary"
            target="_blank"
          >
            +57 300 111 2222</a
          >
        </p>
      </div>

      <!-- Redes sociales -->
      <div class="flex justify-center gap-4">
        <a
          href="https://linkedin.com/in/tuperfil"
          target="_blank"
          class="btn btn-circle btn-outline"
        >
          <img src="/icons/linkedin.svg" alt="LinkedIn" class="w-5 h-5" />
        </a>
        <a
          href="https://github.com/tuusuario"
          target="_blank"
          class="btn btn-circle btn-outline"
        >
          <img src="/icons/github.svg" alt="GitHub" class="w-5 h-5" />
        </a>
        <a
          href="https://twitter.com/tuusuario"
          target="_blank"
          class="btn btn-circle btn-outline"
        >
          <img src="/icons/twitter.svg" alt="Twitter" class="w-5 h-5" />
        </a>
      </div>
    </div>
  </section>
</Layout>
