---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <section
    class="flex flex-col justify-center items-center bg-base-200 px-4 py-10 min-h-screen"
  >
    <div class="bg-base-100 shadow-lg rounded-lg w-full max-w-3xl py-10 p-8 space-y-6 text-center">
      <h2 class="text-3xl font-bold text-base-content">¡Ponte en contacto!</h2>
      <p class="text-base text-base-content/70">
        Estoy disponible para colaborar en nuevos proyectos o simplemente
        charlar sobre ideas creativas. Escríbeme un mensaje o sígueme en redes
        sociales.
      </p>

      <!-- Información de contacto -->
      <div class="space-y-6 text-base-content">
        <p>
          <span class="font-semibold">Correo: </span>
          <a
            href="mailto:williamsteven237gg@gmail.com"
            class="link link-hover text-primary"
          >
          williamsteven237gg@gmail.com 
        </a>
        </p>
        <p>
          <span class="font-semibold">WhatsApp:</span>
          <a
            href="https://wa.me/573203342904"
            class="link link-hover text-primary"
            target="_blank"
          >
            +57 3203342904</a
          >
        </p>
      </div>

      <!-- Redes sociales -->
      <div class="flex justify-center  gap-4">
        <a
          href="https://www.linkedin.com/in/william-steven-vanegas-gomez-89a81a299/"
          target="_blank"
          class="btn btn-circle btn-outline "
        >
          <i  class="fa-brands fa-linkedin" />
        </a>
        <a
          href="https://github.com/Stely69"
          target="_blank"
          class="btn btn-circle btn-outline"
        >
          <i class="fa-brands fa-github" />
        </a>
        <a
          href="https://x.com/stely_69"
          target="_blank"
          class="btn btn-circle btn-outline"
        >
          <i class="fa-brands fa-x" />
        </a>
      </div>
    </div>
  </section>
</Layout>
