---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.astro';
---
<Layout title="Inicio">
  <section class="relative text-center min-h-screen flex flex-col justify-center items-center bg-base-100 dark:bg-base-100">
    <!-- Fondo con opacidad -->
    <img src="/images/fondo.webp" alt="" class="absolute blur-lg inset-0 object-cover w-full h-full opacity-20" />
  
    <div class="relative z-10 px-4">
      <h1 class="text-4xl sm:text-6xl font-extrabold mb-4 text-base-content">Hola, soy William Vanegas</h1>
      <p class="text-lg sm:text-xl mb-6 text-base-content/70">
        Desarrollador Web | Diseñador | Creador de soluciones digitales | Desarrollador de software
      </p>
      <div class="flex flex-wrap justify-center gap-4">
        <a href="/proyectos" class="btn btn-primary">Ver mis proyectos</a>
        <a href="/contacto" class="btn btn-outline btn-secondary">Contáctame</a>
      </div>
    </div>
  </section>
  
  <section class="py-32 bg-base-200 text-base-content">
    <div class="max-w-6xl mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-10">Lo que sé hacer</h2>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
        <Cards direccion="/icons/html5.svg" title2="HTML" />
        <Cards direccion="/icons/css.svg" title2="CSS" />
        <Cards direccion="/icons/javascript.svg" title2="JavaScript" />
        <Cards direccion="/icons/astro.svg" title2="Astro" />
        <Cards direccion="/icons/tailwindcss.svg" title2="TailwindCSS" />
        <Cards direccion="/icons/github.svg" title2="Git" />
        <Cards direccion="/icons/daisyui.svg" title2="Daisyui" />
        <Cards direccion="/icons/php.svg" title2="PHP" />
      </div>
    </div>
  </section>
  
  <section class="bg-primary text-primary-content text-center py-24 glass">
    <h2 class="text-3xl font-semibold mb-4">Trabajemos juntos.</h2>
    <p class="mb-6 text-primary-content/80">
      Estoy abierto a nuevos proyectos o colaboraciones. ¿Tienes algo en mente?
    </p>
    <a class="btn btn-primary" href="/contacto">Contáctame</a>
  </section>
  
</Layout>
