<div class="fixed bottom-6 right-6 z-50">
  <label class="swap swap-rotate btn btn-circle btn-primary shadow-lg">
    <!-- Checkbox que alterna el tema -->
    <input type="checkbox" class="theme-controller" id="themeToggle" />

    <!-- Modo oscuro (luna) -->
    <svg class="swap-on fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M5.64 17.66a9 9 0 0012.02-12.02..." />
    </svg>

    <!-- Modo claro (sol) -->
    <svg class="swap-off fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M12 3v2m0 14v2m9-9h-2M5 12H3..." />
    </svg>
  </label>
</div>

