---
import avatar from '@/assets/images/Perfil.jpg';
import {Image} from 'astro:assets';
---

<footer
  class="bg-base-200 text-base-content py-10 bg-gradient-to-br from-base-100 to-base-200 dark:from-[#0d0f1b] dark:to-[#0a0c15] mask-t-from-80% mask-t-to-100%"
>
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="w-auto flex items-center justify-center">
      <div class="avatar">
        <div
          class="w-10 h-10 md:w-20 md:h-20 rounded-md bg-primary flex items-center justify-center"
        >
          <Image src={avatar} alt="Avatar"/>
        </div>
      </div>
    </div>
    <div>
      <h3 class="text-lg font-semibold mb-2">Enlaces rápidos</h3>
      <ul class="space-y-1 text-sm">
        <li><a class="link link-hover" href="/">Inicio</a></li>
        <li><a class="link link-hover" href="#about">Sobre mí</a></li>
        <li><a class="link link-hover" href="#proyectos">Portafolio</a></li>
        <li><a class="link link-hover" href="#contacto">Contacto</a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-semibold mb-2">Contacto</h3>
      <p class="text-sm">
        Correo:<a
          href="mailto:williamsteven237gg@gmail.com"
          class="link link-hover text-primary"
        >
          williamsteven237gg@gmail.com</a
        >
        <p class="text-sm">Ubicación: Villeta Cundinamarca - Colombia</p>
        <div class="mt-2 flex gap-3">
          <a
            href="https://x.com/stely_69"
            class="btn btn-sm btn-circle btn-outline"
          >
            <i class="fa-brands fa-x"></i>
          </a>
          <a
            href="https://github.com/Stely69"
            class="btn btn-sm btn-circle btn-outline"
          >
            <i class="fa-brands fa-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/william-steven-vanegas-gomez-89a81a299/"
            class="btn btn-sm btn-circle btn-outline"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </p>
    </div>
    <div class="mt-6 text-center text-sm">
      © {new Date().getFullYear()} William Vanegas. Todos los derechos reservados.
    </div>
  </div>
</footer>
