---
	const { title } = Astro.props;
	import  Navbar  from "@components/Navbar.astro";
	import Footer from "@components/Footer.astro";
	import "../styles/global.css";
	import BotonDL from "@components/BotonDL.astro";
---
<!doctype html>
<html lang="es" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Portafolio personal de William Steven Vanegas Gomez" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

		<title>{title}</title>
	</head>
	<body class="bg-gradient-to-br from-base-100 to-base-200 dark:from-[#0d0f1b] dark:to-[#0a0c15]">
		<Navbar />
		<BotonDL />
		<main class="">
			<slot />
		</main>
        <Footer/>
	</body>
</html>

